* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: url("../home_css/assets/img/TEST.jpg") top center ;
    background-size: cover;
}

.custom-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/
#join-box {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(15px);

    padding: 0 69px;
    /*border: 1px solid rgba(0,0,0,.12);*/
    /*border-radius: 20px;*/
}

.input-box {
    border-bottom: 2px solid #ccc;
}

.input-box input {
    color: #fff;
}

.custom-form-control {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}


.btn_round {
    display: inline-block;
    height: 30px;
    /*padding: 0 13px;*/
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 32px;
    font-size: 14px;
    line-height: 29px;
    color: #191919;
    background-color: #fff;
    vertical-align: top;
}


#hero {
    background: rgba(0, 0, 0, 0.6) !important;
}

input::placeholder {color:#ccc;}
input::-webkit-input-placeholder {color:#ccc;}
input:-ms-input-placeholder {color:#ccc;}
